/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

&mt {
    tapping-term-ms = <250>;
    quick-tap-ms = <150>;
    flavor = "tap-preferred";
};

/ {
    macros {
        marukakko: henkan {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_PARENTHESIS &kp RIGHT_PARENTHESIS &kp LEFT_ARROW>;
            label = "HENKAN";
        };

        kagikakko: kagikakko {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_BRACKET &kp RIGHT_BRACKET &kp LEFT_ARROW>;
            label = "KAGIKAKKO";
        };

        kunokakko: kunokakko {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LESS_THAN &kp GREATER_THAN &kp LEFT_ARROW>;
            label = "KUNOKAKKO";
        };

        matomekakko: matomekakko {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_BRACE &kp RIGHT_BRACE &kp LEFT_ARROW>;
            label = "MATOMEKAKKO";
        };

        nakaguro: nakaguro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp N &kp A &kp K &kp A &kp G &kp U &kp R &kp O &kp SPACE>;
            label = "NAKAGURO";
        };

        dotcom: dotcom {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp DOT &kp C &kp O &kp M>;
            label = "DOTCOM";
        };

        ryo: ryo {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp R &kp Y &kp O &kp DOT &kp H &kp A &kp S &kp H &kp I &kp M &kp O &kp T &kp O &kp AT &kp N &kp T &kp T &kp DOT &kp C &kp O &kp M &kp F10>;
            label = "RYO";
        };
    };

    combos {
        compatible = "zmk,combos";

        numbers {
            bindings = <&to 1>;
            key-positions = <3 4>;
        };

        sign {
            bindings = <&to 3>;
            key-positions = <3 2>;
        };

        cursor {
            bindings = <&to 2>;
            key-positions = <27 28>;
        };

        misc {
            bindings = <&to 4>;
            key-positions = <1 4>;
        };

        base {
            bindings = <&to 0>;
            key-positions = <15 14 16 13>;
        };

        at {
            bindings = <&kp AT>;
            key-positions = <19 21>;
        };

        question {
            bindings = <&kp QUESTION>;
            key-positions = <19 20 21>;
        };

        nakaguro {
            bindings = <&nakaguro>;
            key-positions = <20 21 22 19 20 21 22>;
        };

        dotcom {
            bindings = <&dotcom>;
            key-positions = <7 10>;
        };

        ryo {
            bindings = <&ryo>;
            key-positions = <7 9>;
        };

        marukakko {
            bindings = <&marukakko>;
            key-positions = <19 20>;
        };

        kunokakko {
            bindings = <&kunokakko>;
            key-positions = <7 8>;
        };

        matomekakko {
            bindings = <&matomekakko>;
            key-positions = <31 32>;
        };

        kagikakko {
            bindings = <&kagikakko>;
            key-positions = <21 22>;
        };
    };

    behaviors {
        tapping250: tapping250 {
            compatible = "zmk,behavior-hold-tap";
            label = "TAPPING250";
            bindings = <&none>, <&none>;

            #binding-cells = <2>;
            tapping-term-ms = <250>;
            flavor = "tap-preferred";
            quick-tap-ms = <220>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            display-name = "Base";
            bindings = <
&mt LC(LS(ESC)) LC(C)  &mt LC(Y) Q         &mt LC(A) L       &mt LEFT_ALT U  &mt LS(LEFT_ALT) F  &mt COLON PERIOD       &mt DOUBLE_QUOTES EXCLAMATION  &mt LC(F) W           &mt LEFT_ALT R          &kp Y             &mt LC(P) P         &kp ESC
&mt LG(LS(S)) LC(X)    &mt LEFT_CONTROL E  &mt LEFT_SHIFT I  &lt 3 A         &kp O               &mt TILDE MINUS        &mt LG(S) K                    &kp T                 &kp N                   &mt LEFT_SHIFT S  &mt LEFT_CONTROL H  &mt LA(F4) F10
&mt LC(LS(V)) LC(V)    &mt LC(Z) Z         &mt LG(V) X       &mt LS(F10) C   &mt LC(S) V         &mt SEMICOLON COMMA    &mt SINGLE_QUOTE G             &kp D                 &kp M                   &kp J             &mt LC(LA(DEL)) B   &kp DELETE
                                                             &lt 4 F19       &lt 2 TAB           &lt 1 SPACE            &kp BACKSPACE                  &mt LEFT_SHIFT ENTER  &mt LEFT_WIN LC(SPACE)
            >;
        };

        layer_1 {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "numbers";
            bindings = <
&trans  &kp DEL        &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp UNDERSCORE      &kp AMPERSAND  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp LEFT_BRACKET       &kp RIGHT_BRACKET  &trans
&trans  &kp NUMBER_0   &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kt MINUS           &kp PERCENT    &kp SLASH             &kp PLUS               &mt CARET KP_MULTIPLY  &kp EQUAL          &trans
&trans  &kp BACKSPACE  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &mt COMMA PERIOD    &kp PIPE       &kp LESS_THAN         &kp GREATER_THAN       &kp LEFT_BRACE         &kp RIGHT_BRACE    &trans
                                     &trans        &trans        &trans              &trans         &trans                &trans
            >;
        };

        layer_2 {
            display-name = "cursor";
            bindings = <
&trans  &kp LC(Y)             &kp LC(A)           &kp LS(UP_ARROW)    &kp LC(Y)            &kp F2     &kp LC(LEFT_ARROW)  &kp LS(LEFT_ARROW)  &kp UP_ARROW    &kp LS(RIGHT_ARROW)  &kp LC(RIGHT_ARROW)  &trans
&trans  &mt LEFT_SHIFT SPACE  &kp LS(LEFT_ARROW)  &kp LS(DOWN_ARROW)  &kp LS(RIGHT_ARROW)  &kp F10    &kp PAGE_UP         &kp LEFT_ARROW      &kp DOWN_ARROW  &kp RIGHT_ARROW      &mt LEFT_SHIFT HOME  &trans
&trans  &kp LC(Z)             &kp LG(V)           &mt LEFT_ALT F7     &kp F8               &kp F9     &kp PAGE_DOWN       &kp LC(ENTER)       &kp LS(ENTER)   &kp LA(ENTER)        &kp END              &trans
                                                  &trans              &trans               &trans     &trans              &trans              &trans
            >;
        };

        layer_3 {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "sign";
            bindings = <
&trans  &kp INT_YEN  &kp HASH    &matomekakko  &kp SINGLE_QUOTE   &kp COLON        &dotcom      &kp LESS_THAN         &kp GREATER_THAN       &kp AMPERSAND     &kp PERCENT        &trans
&trans  &kunokakko   &kagikakko  &none         &kp QUESTION       &kp AT_SIGN      &nakaguro    &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &trans
&trans  &kp GRAVE    &kp TILDE   &marukakko    &kp DOUBLE_QUOTES  &kp SEMICOLON    &kp AT_SIGN  &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp DOLLAR        &kp PIPE           &trans
                                 &trans        &trans             &trans           &trans       &trans                &trans
            >;
        };

        layer_4 {
            display-name = "misc";
            bindings = <
&trans  &kp C_VOLUME_UP    &bt BT_SEL 0        &kp LS(UP_ARROW)    &bt BT_SEL 1         &bt BT_SEL 2        &kp F13  &kp F7  &kp F8  &kp F9  &kp F16  &trans
&trans  &kp C_VOLUME_DOWN  &kp LS(LEFT_ARROW)  &kp LS(DOWN_ARROW)  &kp LS(RIGHT_ARROW)  &kp C_SLEEP_MODE    &kp F12  &kp F4  &kp F5  &kp F6  &kp F15  &trans
&trans  &kp K_MUTE         &bt BT_SEL 3        &bt BT_SEL 4        &bt BT_CLR           &bt BT_CLR_ALL      &kp F11  &kp F1  &kp F2  &kp F3  &kp F14  &trans
                                               &trans              &trans               &trans              &trans   &trans  &trans
            >;
        };

        extra_1 { status = "reserved"; };

        extra_2 { status = "reserved"; };
    };
};
