/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

&mt {
    tapping-term-ms = <250>;
    quick-tap-ms = <150>;
    flavor = "tap-preferred";
};

/ {
    macros {
        marukakko: henkan {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_PARENTHESIS &kp RIGHT_PARENTHESIS &kp LEFT_ARROW>;
            label = "HENKAN";
        };

        kagikakko: kagikakko {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_BRACKET &kp RIGHT_BRACKET &kp LEFT_ARROW>;
            label = "KAGIKAKKO";
        };

        kunokakko: kunokakko {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LESS_THAN &kp GREATER_THAN &kp LEFT_ARROW>;
            label = "KUNOKAKKO";
        };

        matomekakko: matomekakko {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_BRACE &kp RIGHT_BRACE &kp LEFT_ARROW>;
            label = "MATOMEKAKKO";
        };

        nakaguro: nakaguro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp N &kp A &kp K &kp A &kp G &kp U &kp R &kp O &kp SPACE>;
            label = "NAKAGURO";
        };

        dotcom: dotcom {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp DOT &kp C &kp O &kp M>;
            label = "DOTCOM";
        };
    };

    combos {
        compatible = "zmk,combos";

        Layer_1 {
            bindings = <&to 1>;
            key-positions = <3 4>;
        };

        Layer_3 {
            bindings = <&to 3>;
            key-positions = <3 2>;
        };

        Layer_2 {
            bindings = <&to 2>;
            key-positions = <27 28>;
        };

        Layer_4 {
            bindings = <&to 4>;
            key-positions = <1 4>;
        };

        Layer_0 {
            bindings = <&to 0>;
            key-positions = <15 14 16 13>;
        };

        at {
            bindings = <&kp AT>;
            key-positions = <7 8>;
        };

        question {
            bindings = <&kp QUESTION>;
            key-positions = <31 32>;
        };
    };

    behaviors {
        tapping250: tapping250 {
            compatible = "zmk,behavior-hold-tap";
            label = "TAPPING250";
            bindings = <&none>, <&none>;

            #binding-cells = <2>;
            tapping-term-ms = <250>;
            flavor = "tap-preferred";
            quick-tap-ms = <220>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            display-name = "Base";
            bindings = <
&kp LC(C)  &kp Q               &kp L             &mt LEFT_ALT U  &kp F               &kp PERIOD    &kp EXCLAMATION  &kp W                 &mt LEFT_ALT R  &kp Y             &kp P               &kp ESCAPE
&kp LC(X)  &mt LEFT_CONTROL E  &mt LEFT_SHIFT I  &kp A           &kp O               &kp MINUS     &kp K            &kp T                 &kp N           &mt LEFT_SHIFT S  &mt LEFT_CONTROL H  &kp F10
&kp LC(V)  &kp Z               &kp X             &kp C           &kp V               &kp COMMA     &kp G            &kp D                 &kp M           &kp J             &kp B               &kp DELETE
                                                 &kp LGUI        &mt LEFT_SHIFT TAB  &kp SPACE     &kp BACKSPACE    &mt LEFT_SHIFT ENTER  &kp LG(SPACE)
            >;
        };

        layer_1 {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "numbers";
            bindings = <
&trans  &kp CARET     &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp UNDERSCORE    &kp AMPERSAND  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &trans
&trans  &kp NUMBER_0  &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp MINUS         &kp PERCENT    &kp SLASH             &kp PLUS               &kp KP_MULTIPLY   &kp EQUAL          &trans
&trans  &kp COMMA     &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp PERIOD        &kp PIPE       &kp LESS_THAN         &kp GREATER_THAN       &kp LEFT_BRACE    &kp RIGHT_BRACE    &trans
                                    &trans        &trans        &trans            &trans         &trans                &trans
            >;
        };

        layer_2 {
            display-name = "cursor";
            bindings = <
&trans  &kp F1          &kp F2          &kp UP_ARROW    &kp F3           &kp F4     &kp F11        &kp F12             &kp LG(UP_ARROW)    &kp F13              &kp F14    &trans
&trans  &kp LEFT_SHIFT  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &kp F10    &kp PAGE_UP    &kp LG(LEFT_ARROW)  &kp LG(DOWN_ARROW)  &kp LG(RIGHT_ARROW)  &kp LCTRL  &trans
&trans  &kp F5          &kp F6          &kp F7          &kp F8           &kp F9     &kp PAGE_DOWN  &kp F17             &kp F18             &kp F19              &kp F20    &trans
                                        &trans          &trans           &trans     &trans         &trans              &trans
            >;
        };

        layer_3 {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "sign";
            bindings = <
&trans  &kp INT_YEN  &kp HASH    &matomekakko  &kp SINGLE_QUOTE   &kp COLON        &dotcom      &kp LESS_THAN         &kp GREATER_THAN       &kp AMPERSAND     &kp PERCENT        &trans
&trans  &kunokakko   &kagikakko  &marukakko    &kp QUESTION       &kp AT_SIGN      &nakaguro    &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &trans
&trans  &kp GRAVE    &kp TILDE   &nakaguro     &kp DOUBLE_QUOTES  &kp SEMICOLON    &kp AT_SIGN  &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp DOLLAR        &kp PIPE           &trans
                                 &trans        &trans             &trans           &trans       &trans                &trans
            >;
        };

        layer_4 {
            display-name = "misc";
            bindings = <
&trans  &kp C_VOLUME_UP    &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &none               &trans  &trans  &trans  &trans  &trans  &trans
&trans  &kp C_VOLUME_DOWN  &bt BT_SEL 3  &bt BT_SEL 4  &bt BT_CLR    &kp C_SLEEP_MODE    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &kp K_MUTE         &none         &none         &none         &none               &trans  &trans  &trans  &trans  &trans  &trans
                                         &trans        &trans        &trans              &trans  &trans  &trans
            >;
        };

        extra_1 { status = "reserved"; };

        extra_2 { status = "reserved"; };
    };
};
